 .u-section-1 {
  min-height: 701px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  pointer-events: auto;
  min-height: 517px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-gallery-1 {
  height: 500px;
  width: 645px;
  margin: 8px 0 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-text-1 {
  animation-duration: 2000ms;
  font-size: 3.125rem;
  font-weight: 700;
  background-image: none;
  font-style: normal;
  margin: -360px 682px 0 80px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 148px auto 0 258px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -46px auto 0 80px;
  padding: 12px 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-1 .u-gallery-1 {
    height: 414px;
    width: 520px;
    margin-top: 63px;
  }

  .u-section-1 .u-carousel-item-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-1 .u-carousel-item-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-1 .u-carousel-item-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-over-slide-6 {
    padding: 30px;
  }

  .u-section-1 .u-carousel-item-7 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-over-slide-7 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -317px;
    margin-right: 516px;
    margin-left: 46px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 119px;
    margin-left: 219px;
    padding: 9px 26px 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -45px;
    margin-left: 46px;
    padding-top: 11px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 464px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-gallery-1 {
    height: 307px;
    width: 410px;
    margin-top: 37px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.1875rem;
    margin-top: -229px;
    margin-right: 294px;
    margin-left: 48px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 82px;
    margin-left: 196px;
    padding: 7px 19px 8px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -35px;
    margin-left: 48px;
    padding: 6px 22px 7px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 307px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-1 .u-gallery-1 {
    height: 240px;
    width: 321px;
    margin-top: 33px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -196px;
    margin-right: 111px;
    margin-left: 51px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 68px;
    margin-left: 186px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 51px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 473px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5625rem;
    margin-top: 11px;
    margin-right: -48px;
    margin-left: 48px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-right: 92px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-left: 48px;
    padding: 8px 26px 8px 25px;
  }
}.u-block-40eb-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-40eb-3 {
  position: absolute;
  left: 0;
}

.u-block-40eb-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: none;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-1 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

 .u-section-2-2 {
  background-image: none;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-2 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

 .u-section-2-3 {
  background-image: none;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-3 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

 .u-section-2-4 {
  background-image: none;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-4 .u-image-1 {
  width: 160px;
  height: 160px;
  background-position: 50% 50%;
  margin: 0 auto;
}

 .u-section-2-5 {
  background-image: none;
}

.u-section-2-5 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-5 .u-image-1 {
  width: 160px;
  height: 160px;
  background-image: url("images/3.gif");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 575px) {
  .u-section-2-5 .u-image-1 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

 .u-section-2-6 {
  background-image: none;
}

.u-section-2-6 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-6 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

 .u-section-2-7 {
  background-image: none;
}

.u-section-2-7 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-7 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

 .u-section-2-8 {
  background-image: none;
}

.u-section-2-8 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-8 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

 .u-section-2-9 {
  background-image: none;
}

.u-section-2-9 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-9 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

 .u-section-2-10 {
  background-image: none;
}

.u-section-2-10 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-10 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

 .u-section-2-11 {
  background-image: none;
}

.u-section-2-11 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2-11 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}.u-section-3 .u-sheet-1 {
  min-height: 880px;
}

.u-section-3 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Arial, sans-serif;
  animation-duration: 1000ms;
  margin: 50px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1149px;
  margin: 50px -9px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 736px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 434px;
  height: 434px;
  animation-duration: 1000ms;
  margin: -18px 26px 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: "Source Serif Pro";
  font-size: 1.5625rem;
  animation-duration: 1000ms;
  margin: -416px 597px 0 0;
}

.u-section-3 .u-text-3 {
  text-align: left;
  font-family: "Source Serif Pro";
  background-image: none;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 56px 0 0 597px;
}

.u-section-3 .u-image-2 {
  width: 463px;
  height: 189px;
  animation-duration: 1000ms;
  margin: -283px auto 94px 66px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 851px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -470px;
    margin-right: 470px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 50px;
    margin-left: 470px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -274px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 856px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 1882px;
    margin-right: auto;
    margin-left: 121px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -2352px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 21px;
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 50px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 939px;
  }

  .u-section-3 .u-image-1 {
    height: 351px;
    width: 537px;
    margin-top: 2083px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -2434px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 50px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 1px;
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1276px;
  }

  .u-section-3 .u-image-1 {
    height: 324px;
    width: 324px;
    margin-top: 2844px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -3049px;
  }

  .u-section-3 .u-image-2 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-4 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Arial, sans-serif;
  width: 481px;
  animation-duration: 1000ms;
  margin: 100px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1149px;
  margin: 50px -9px 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 886px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-family: "Source Serif Pro";
  font-size: 1.5625rem;
  text-align: left;
  animation-duration: 1000ms;
  margin: 0 0 0 598px;
}

.u-section-4 .u-image-1 {
  height: 320px;
  width: 505px;
  animation-duration: 1000ms;
  margin: -320px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-family: "Source Serif Pro";
  font-size: 1.5625rem;
  animation-duration: 1000ms;
  margin: 50px 620px 0 0;
}

.u-section-4 .u-image-2 {
  width: 515px;
  height: 515px;
  animation-duration: 1000ms;
  margin: -40px 12px 0 auto;
}

.u-section-4 .u-text-4 {
  text-align: left;
  font-size: 1.5625rem;
  background-image: none;
  font-family: "Source Serif Pro";
  animation-duration: 1000ms;
  margin: -455px 568px 0 6px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: 100px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 858px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-4 .u-image-1 {
    width: 460px;
    margin-top: -360px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 411px;
  }

  .u-section-4 .u-image-2 {
    width: 470px;
    height: 470px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -450px;
    margin-right: 470px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1399px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 100px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1155px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 191px;
  }

  .u-section-4 .u-image-2 {
    width: 360px;
    height: 360px;
    margin-top: 247px;
    margin-right: 72px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1201px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -23124px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 11px;
  }

  .u-section-4 .u-image-2 {
    height: 270px;
    margin-top: -40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-right: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1676px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 50px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1140px;
  }

  .u-section-4 .u-image-1 {
    height: 149px;
    margin-top: -23346px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 161px;
    margin-top: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: -50px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 661px;
}

.u-section-5 .u-text-1 {
  font-size: 2.5rem;
  animation-duration: 1000ms;
  margin: 50px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: "Source Serif Pro";
  font-size: 1.5625rem;
  animation-duration: 1000ms;
  margin: 50px 0 0 570px;
}

.u-section-5 .u-image-1 {
  width: 257px;
  height: 257px;
  animation-duration: 2500ms;
  background-image: url("images/AIeffaf.png");
  background-position: 50% 50%;
  margin: -90px auto 0 157px;
}

.u-section-5 .u-text-3 {
  text-align: left;
  font-family: "Source Serif Pro";
  animation-duration: 1000ms;
  margin: -130px 0 0 570px;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(50, 190, 166) !important;
}

.u-section-5 .u-list-icon-2 {
  color: rgb(50, 190, 166) !important;
}

.u-section-5 .u-list-icon-3 {
  color: rgb(50, 190, 166) !important;
}

.u-section-5 .u-list-icon-4 {
  color: rgb(50, 190, 166) !important;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -40px auto 0 217px;
  padding: 5px 16px 6px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -85px;
    margin-left: 106px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -152px;
    margin-left: 470px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -92px;
    margin-bottom: 50px;
    margin-left: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 309px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: -547px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 357px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 387px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -627px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1420px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 547px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -787px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 183px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 100px auto -43px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-6 .u-text-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: none;
  min-height: 716px;
}

.u-section-7 .u-line-1 {
  height: 5px;
  transform-origin: right center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 47px auto 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 153px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 22px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5625rem;
  margin: 0 47px 0 30px;
}

.u-section-7 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-7 .u-text-2 {
  font-size: 0.9375rem;
  font-family: "Source Serif Pro";
  margin: 20px 38px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 153px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-7 .u-text-3 {
  font-size: 1.5625rem;
  margin: 0;
}

.u-section-7 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
  width: 36px;
  height: 43px;
}

.u-section-7 .u-text-4 {
  font-size: 0.9375rem;
  font-family: "Source Serif Pro";
  margin: 20px 0 0;
}

.u-section-7 .u-map-1 {
  height: 479px;
  width: 1140px;
  margin: -20px auto 0;
}

.u-section-7 .u-line-2 {
  height: 5px;
  transform-origin: right center 0px;
  margin-top: 47px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 689px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-7 .u-map-1 {
    width: 940px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 663px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 763px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 851px;
  }

  .u-section-7 .u-line-1 {
    width: 440px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-map-1 {
    width: 340px;
  }
}